/* global style setting */
.whole-container {
    min-width: 390px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
    font-size: 40px;
    font-weight: 600;
}

p, span, div {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
}

/* change bs color */
:root {
    --bs-primary:#fed109;
    --bs-primary-rgb: 254, 209, 9;
    --bs-secondary: #0137fe;
    --bs-secondary-rgb: 1, 55, 254;
    --bs-dark: #F5F2E9;
    --bs-dark-rgb: 245, 242, 233;
    --bs-custom-color: black; 
}

/* style skip links */

  .skip-links a{
    background-color:var(--bs-primary); 
    color:black;
  }

/* style nav bar */
.navbar-nav .nav-item .active,  
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active {
    background-color: var(--bs-primary);
    padding: 10px 25px 10px 25px;
    font-weight: 600;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}


.navbar-toggler {
    border: none;
    color:white;
}

.navbar-toggler:active {
    border:none;
}

.nav-link {
    color: black;
}

/* style home page text & button */

.home-text {
    text-align: center;
}

.btn .active,  
.btn:hover,
.btn:focus,
.btn:active {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    color: white;
}

.btn-outline-primary {
    color: black;
    border-radius: 10px;
    border: 1.5px solid black;
}


/* add mask for work page */
.mask-container {
position: relative;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.mask-container:hover .mask,
.mask-container:hover .mask-title {
    opacity: 1; 
    cursor: pointer;
  }

.mask-container:hover .mask-title {
    z-index: 1; 
  }

.mask-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0; 
    transition: opacity 0.2s ease;
}

/* add animation when hover the cover on work page */
.grow {
    transition: transform 0.3s ease;
}

.grow:hover {
    transform: scale(1.02); 
  }

/* style footer */

footer i {
    color: black;
}

footer {
    height: 20vh; 

}

/* style back to top button */

.bi-arrow-up {
    position: fixed;
    bottom: 6rem; 
    right: 1rem; 
    color: black;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.btntop .active,  
.btntop:hover,
.btntop:focus,
.btntop:active {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    color: white;
}

/**************** Tablet and Desktop style ****************/
@media screen and (min-width: 767px) {


.home-text {
        text-align: left;
    }
    

footer {
    height: 12vh;
}

}